/* Custom CSS for AdminLTE */

.col-centered {
    float: none;
    margin: 0 auto;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.row-link button {
    margin: 5px;
}

.row-link td {
    height: 50px;
    vertical-align: middle !important;
}

.row-link:hover td {
    background-color: rgba(200,200,200,0.15);
    cursor: pointer;
}

.row-link input {
    width: 400px;
    font-weight: normal;
}

.full-text {
    width: 100%;
    height: 500px;
}

#settings-table {
    overflow-x: hidden;
}

.selected-row {
    font-weight: bold;
}

#accordion h4 {
    width: 100%;
}

#accordion h4 a {
    display: block;
}

.main-footer {
    padding-bottom: 35px;
}